@model  P2_2020_HH_601_2020_BM_602.Models.Departamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estas seguro de elininar esto?</h3>
<div>
    <h4>Departamentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_departamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_departamento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
